<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>

<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
<p><%= dose.ingredient.name %></p>
<p><%= dose.description %>
<%= link_to "🗑", cocktail_dose_path(@cocktail, dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
      <% end %>
<p><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %></p>
<%= link_to "back to the cocktails list", cocktails_path %>

